#home
  %div{ :class => 'toolbar' }
    %h1= @lookup
    %li{ :class => 'forward' }= link_to 'Home', root_url, :class => 'back', :target => '_webapp'
    
  %ul{ :class => 'rounded' }
    - @word.each do |w|
      %li= "(#{w.partOfSpeech}) #{w.text}"

  =render :partial => 'fun'
  =render :partial => 'powered'
