#home
  %div{ :class => 'toolbar' }
    %h1 Today's Word

  %h2= @wod.wordstring
  %ul{ :class => 'rounded' }
    - @wod.definition.each do |definition|
      %li= definition.text
    %li{ :class => 'arrow' }
      = link_to 'Examples', '#examples'
      %small{ :class => 'counter' }= @wod.example.size
    %li{ :class => 'arrow' }
      = link_to 'Note', '#note'

  =render :partial => 'fun'
  =render :partial => 'powered'

#examples
  %div{ :class => 'toolbar' }
    %h1 Examples
    =link_to 'Home', '#home', :class => 'back'

  %h2= @wod.wordstring
  %ul{ :class => 'rounded' }
    - @wod.example.each do |example|
      %li=example.text

  =render :partial => 'fun'
  =render :partial => 'powered'

#note
  %div{ :class => 'toolbar' }
    %h1 Note
    =link_to 'Home', '#home', :class => 'back'

  %h2= @wod.wordstring
  %ul{ :class => 'rounded' }
    %li= @wod.note

  =render :partial => 'fun'
  =render :partial => 'powered'
