#home
  =render :partial => 'wod_toolbar'
  %ul{ :class => 'rounded' }
    - @wod.definition.each do |definition|
      %li= definition.text
    %li{ :class => 'arrow' }
      = link_to 'Examples', '#examples'
      %small{ :class => 'counter' }= @wod.example.size
    %li{ :class => 'arrow' }
      = link_to 'Note', '#note'

  %h2 Other Stuffs
  %ul{ :class => 'rounded' }
    %li{ :class => 'forward' }= link_to 'Random Word', word_random_url, :target => '_webapp'

  =render :partial => 'powered'

#examples
  %div{ :class => 'toolbar' }
    %h1 Word of the Day
    =link_to 'Home', '#home', :class => 'back'

  %h2= @wod.wordstring
  %ul{ :class => 'rounded' }
    - @wod.example.each do |example|
      %li=example.text

#note
  %div{ :class => 'toolbar' }
    %h1 Word of the Day
    =link_to 'Home', '#home', :class => 'back'

  %h2= @wod.wordstring
  %ul{ :class => 'rounded' }
    %li= @wod.note